body {
  width: 100%;
  height: 100vh;
}

#main {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}

.back-red {
  background-color: #e82d62;
}

.back-green {
  background-color: #14c2a3;
}

.text-moon {
  color: #e0f7f3;
}

.text-cheese {
  color: #faf6e1;
}


.form-group label{
    color: black;
}
